version: '3.8'

services:
  web:
    build: .
    ports:
      - "5000:5000"
    volumes:
      - ./instance:/app/instance
      - ./static/uploads:/app/static/uploads
    environment:
      - SECRET_KEY=your-secret-key-prod
      - FLASK_APP=app.py
    restart: unless-stopped
